**/TSS_avgdot
**/TSS_raw
**/Ifit1
**/Il12b_original
**/Il12bHSS1
**/Cxcl10
**/*.csv
**/**.csv
**/*.png
**/**/*.csv
**/**/**/*.csv
**/**/**/**/*.csv
**checkpoint**
**/**/*.txt
**/**/**/*.txt
**/**/**/**/*.txt
**/**/*.html
**/*.html
**/*.svg
**/**/*.svg
**/**/**/*.svg
**/**/**/**/*.svg
**/*.pdf
**/**/*.pdf
**/**/**/*.pdf
**/**/**/**/*.pdf
**/*checkpoint*
**/**/*checkpoint*
**/**/.ipynb_checkpoints/*.ipynb
**/.ipynb_checkpoints/*.ipynb
EnhancerInducibleGenes/*
**/*.html
**/**/*.html
**/**/**/*.html
**/**/**/**/*.html
Figure1d_Il12b_BSBF_WT/WT_Il12b_BSBFtimecourse.svg
TSS_quantification/.DS_Store
TSS_quantification/1_RunQuantification.ipynb
Figure1d_Il12b_BSBF_WT/WT_Il12b_BSBFtimecourse.svg
Figure1d_Il12b_BSBF_WT/WT_Il12b_BSBFtimecourse.svg
.DS_Store
Databases/Cuartero2018/DE_result_norm2Rep_n_Spikes/DEseq2_norm2Rep_n_Spikes_FL2_Minus_FLUT.csv
Databases/Cuartero2018/DE_result_norm2Rep_n_Spikes/DEseq2_norm2Rep_n_Spikes_FL2_Minus_WT2.csv
Databases/Cuartero2018/DE_result_norm2Rep_n_Spikes/DEseq2_norm2Rep_n_Spikes_FL8_Minus_FL2.csv
Databases/Cuartero2018/DE_result_norm2Rep_n_Spikes/DEseq2_norm2Rep_n_Spikes_FL8_Minus_FLUT.csv
*.svg
